<nav class="sibling-menu js-sidebar-nav">
  <%- SubstructureTypesPresenter.new(object.parent_object)
        .substructures.each do |structure_type, substructures| %>
    <div class="sibling-menu__title">
      <%= structure_type.name %>
    </div>

    <% substructures.each do |substructure| -%>
      <%= link_to substructure.name,
            [current_audit, substructure],
            class: (substructure == object) ? 'active' : '' %>
    <% end -%>
  <%- end %>
</nav>
