<div>
  <%- SubstructureTypesPresenter.new(structure)
        .substructures.each do |structure_type, substructures| %>
    <%= render 'web/structures/structure_type_row',
          structure_type: structure_type %>

    <%- substructures.each do |substructure| %>
      <%= render 'web/structures/structure_row',
            structure: substructure %>
    <%- end %>
  <%- end %>
</div>
