<ul class="tab-menu" data-trigger="tab">
  <% if @audit_structure.audit_strc_type.child_structure_types.length > 0 %>
    <li><a href="#">Substructures</a></li>
  <% end %>

  <li><a href="#">Details</a></li>
  <li><a href="#">Photos</a></li>
</ul>
