.report-builder-actions {
  @extend %clearfix;
  margin-bottom: 36px;

  &__export {
    margin-right: 20px;

    i {
      top: 2px;
    }
  }

  &__help {
    @extend %chevron-toggle;

    &:after {
      top: 3px;
    }
  }

  &__help-content {
    margin-top: 12px;
    padding: 10px;
    background: #F5F5F5;
  }
}

.markdown-editor {
  width: 34%;
  float: left;
  padding-right: 10px;
  overflow-y: scroll;

  &__contentblock {
    width: 82%;
    height: 20%;
  }

  &__input {
    width: 95%;
    height: 65%;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

.markdown-preview {
  border-left: 1px dashed;
  margin-left: 37%;
  padding-left: 10px;
  overflow-y: scroll;
}

.shortcode {
  margin-right: 8px;
}
