<% ['data_type', 'account_number', 'utility_company_name', 'coverage', 'for_heating', 'notes'].each do |audit_field_name| %>
  <div class="form-row">
    <label class="form-row__label">
      <%= audit_field_name.gsub('_', ' ').titleize %>
    </label>
    <input disabled="disabled" type="text" value="<%= physical_structure.send(audit_field_name.to_sym) %>">
  </div>
<% end %>
