<% ['data_type', 'account_number', 'utility_company_name', 'coverage', 'for_heating', 'notes'].each do |audit_field_name| %>
  <%= form_for [current_audit, physical_structure],
	              method: :put,
	              remote: true,
	              url: meter_path(current_audit.id, physical_structure) do |f| %>
	  <%= hidden_field_tag :field_attr, audit_field_name.to_sym %>
	  <div class="form-row">
	    <%= label_tag audit_field_name.parameterize,
	          audit_field_name.gsub('_', ' ').titleize,
	          class: 'form-row__label' %>
	    <%= render "web/fields/text_input_field",
	          name: audit_field_name.parameterize,
	          value: physical_structure.send(audit_field_name.to_sym) %>
	  </div>
	<% end %>
<% end %>
