<div class='info'>
  No audits found.
  <%= link_to('Create audits in WegoAudit', audits_path) %>.
</div>

<div class="form-actions">
  <a href='#' class='js-modal-close btn'>
    Close
  </a>
</div>

