.container {
  max-width: $site-width;
  padding: 0 20px;
  margin: 0 auto;

  @if $is-responsive {
    @media screen and (max-width: $breakpoint-m) {
      padding: 0 10px;
    }
  }
}

.main-section {
  @extend %clearfix;
  padding: $section-v-spacing 0 $section-v-spacing;

  @if $is-responsive {
    @media screen and (max-width: $breakpoint-m) {
      padding: 12px 0 12px;
    }
  }
}
