.modal {
  display: none;
  width: 600px;
  padding: $modal-padding;
  box-shadow: 0 8px 12px rgba(0,0,0,0.3);
  background-color: #fff;
  opacity: 0;
  transform: scale(1.1) translateY(-20px);
  // Close it fast, open it slow(er)
  transition: transform 0.1s $custom-bezier,
              opacity 0.1s $custom-bezier;

  form {
    margin-bottom: 0;
  }

  .form-actions {
    border-top: none;
    margin-top: $base-line-height/2;
  }
}

.modal__header {
  margin-top: -$modal-padding;
  margin-right: -$modal-padding;
  margin-left: -$modal-padding;
  background-color: darken($grey-lightest, 1%);
  padding: $modal-padding;
}

.modal__title {
  margin: 0;
  font-size: 20px;
}

.modal__close {
  float: right;
  margin-top: -12px;
  margin-right: -12px;
  color: lighten($base-font-color, 30%);
  border: 1px solid $grey-light;
  background-color: #fff;
  text-align: center;
  font-size: 12px;
  transition: color ease-in-out $transition-speed, border-color ease-in-out $transition-speed;
  @include circle(32px);

  i {
    top: 2px;
  }

  &:hover {
    color: $base-font-color;
    border-color: $grey;
  }
}

.modal__content {
  padding-top: $base-line-height;
}

.slidein {
  transform: scale(1) translateY(0);
  opacity: 1;
  transition: transform $transition-speed $custom-bezier,
              opacity $transition-speed $custom-bezier;
}
