<ul>
<% @organizations.each do |organization| %>
  <li>
    <%= organization.name %>
    <ul>
      <% organization.buildings.each do |building| %>
        <li>
          <%= link_to building.nickname, building_path(building) %>
          - <%= link_to 'Full download', download_full_building_path(building) %>
        </li>
      <% end %>
    </ul>
<% end %>
</ul>
