// Header
.header {
  @extend %clearfix;
  background: $primary-color;
  padding: 20px 0 12px;
}

.logo {
  color: #fff;
  font-size: 17px;
  line-height: 1;
  padding: 15px 0;
  display: inline-block;

  &:hover {
    transform: scale(1.05);
    color: #fff;
  }
}

.wego-logo {
  float: left;
}

.global-menu {
  float: right;

  a {
    color: #fff;
    padding: 15px 10px;
    display: inline-block;

    &:hover {
      color: #fff;
      background: #1565C0;
    }
  }
}
