%clearfix {
  *zoom:1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%title-font {
  font-family: $title-font-family;
  font-weight: normal !important;
}

%secondary-title-font {
  font-family: $secondary-title-font-family;
  font-weight: normal !important;
}

%bold-font {
  font-weight: bold;
  color: $bold-font-color;
}

%children-respect-padding {
  &>:first-child {
    margin-top: 0;
  }

  &>:last-child {
    margin-bottom: 0;
  }
}

// Vertically align anything even when
// container height is unknown, IE9+
%vertical-align {
  position: relative;
  top: 50%;
  transform:(translateY(-50%));
}

// Webkit-style focus
// ------------------
%tab-focus {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

%form-input-vertical-alignment {
  height: $input-height;
  margin-top: ($form-row-line-height - $input-height) / 2;
}

// Nav
//------
%nav {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }

  a {
    display: block;

    &:hover {
      text-decoration: none;
    }
  }
}


%nav-inline-link {
  padding: 0 15px;
  display: inline-block;
}


// Stop ios flicker
//------------------
// Hardware accelerated transitions, use translate property with the rendering
// advantages of 3D transforms but with greater x-browser compatibility
%hd-accelerate {
  transform: translateZ(0);
  perspective: 1000;
  backface-visibility: hidden;
}


// Panels and alerts
//--------------------
%alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  border-style: solid;
  border-width: 1px;
  border-radius: $radius;
}

%panel {
  @extend %children-respect-padding;
  border-style: solid;
  border-width: 1px;
  padding: $base-line-height/2;
}

%panel-warning {
  color: $warning-font-color;
  background-color: $warning-bg-color;
}

%panel-success {
  color: $success-font-color;
  background-color: $success-bg-color;
}

%panel-danger {
  color: $danger-font-color;
  background-color: $danger-bg-color;
}

%panel-info {
  color: $info-font-color;
  background-color: $info-bg-color;
}

%chevron-toggle {
  &:after {
    @extend %icon-font;
    content: "\E003";
    top: 2px;
  }

  &.active {
    &:after {
      content: "\E001";
    }
  }
}

%draggable {
  &:hover {
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
}

%ellipsis-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
