.repl_history
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
resources/config.yml
config/development.yml
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*
ib.xcodeproj
profiles
xcuserdata
*.xcuserstate

# Ignore build artifacts
.build
build
build-iPhoneSimulator
build-iPhoneOS
