<%= fields_for("structure_changes[#{structure_type.api_name}]",
               StructureChange.new) do |subform| %>
  <div class='form-row'>
    Choose a <strong><%= structure_type.name %></strong>:
    <%= subform.select :structure_wegoaudit_id,
                    @context.grouped_structures_options(structure_type) %>
  </div>
<% end %>
