// Override Wego variables
//-------------------------
$is-responsive: false;
$grey-lightest: #fafafa;
$base-font-size: 14px;
$site-width: 960px;
$base-font-color: #212121;

$primary-color: #2196F3;
$primary-color-lightest: #E3F2FD;
$primary-color-light: #BBDEFB;
$primary-color-darker: #1976D2;
$primary-color-dark: #1565C0;
$link-color: $primary-color-darker;

$base-line-height: 24px;

// Wego Audit
//-----------------
@import "vendor/fancybox";
@import "utility/variables";
@import "utility/animations";
@import "utility/placeholders";
@import "utility/mixins";
@import "normalize";
//-- Base
@import "base/icons";
@import "base/general";
@import "base/normalize";
@import "base/fonts";
@import "base/type";
//-- Layout
@import "layout/footer";
@import "layout/header";
@import "layout/grid";
@import "layout/structure";
@import "layout/titlebar";
//-- Components
@import "component/btn";
@import "component/crumbs";
@import "component/delete-query";
@import "component/forms";
@import "component/icons";
@import "component/modal";
@import "component/notice";
@import "component/pane";
@import "component/sibling-menu";
@import "component/tab-menu";
@import "component/table";
@import "component/tooltips";
@import "component/titlebar";
@import "component/data";
@import "component/fli";
@import "component/gallery";
@import "component/tablecalc";
@import "component/tooltipab";
@import "component/totals";

//-- Views
@import "view/gallery";
@import "view/login";
@import "view/measures";
@import "view/sub-structures";
@import "views/measure-overview";
@import "views/measure-details";
@import "views/report-builder";
@import "views/report-preview";
@import "views/view-reports";

// Wego framework
//-----------------
@import "wegowise_styles/base/general";
@import "wegowise_styles/base/type";
@import "wegowise_styles/component/table";



.hide {
  display: none;
}

.content {
  @extend %clearfix;
}

.active-content {
  border: 1px solid $grey;
  float: left;
  margin-left: -1px;
  width: $site-inner-width - $sibling-menu-width;
  background: #fff;
  position: relative;
  z-index: 9;
  padding: 0 20px 20px 20px;
}

.section-title {
  line-height: $table-real-line-height;
  font-weight: bold;
  background-color: $grey-lightest;
  border-bottom: 1px solid $grey;
  padding: 0 $table-h-padding;
  display: block;
  width: 100%;
}

.section-title__action {
  float: right;
  font-weight: normal;
  padding: 0 10px;
}

.form-row {
  background: #fff;
}

.active-content__details {
  .form-row__label {
    width: 200px;
  }
}

.active-content__photos {
  padding-top: 20px;

}
