// Buttons
.btn {
  box-shadow: 0 1px 0 rgba(#000,0.25);
  border: none;

  .icon-plus {
    bottom: -1px;
    margin-left: 4px;
  }
}

.btn-primary {
  color: $btn-primary-color;
  background-color: $btn-primary-bg;
  box-shadow: 0 1px 0 #a31e00;

  &:hover {
    color: $btn-primary-color-hover;
    background-color: $btn-primary-bg-hover;
  }

  &:active {
    background: $primary-color-dark;
  }
}

.btn-secondary {
  box-shadow: 0 1px 0 darken(#0c77f9, 15%);
}

.btn-primary,
.btn-secondary {
  text-shadow: 0 -1px 1px rgba(#000,0.3);
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: 0;
}

// Default
.btn {
  color: $btn-color;
  text-transform: uppercase;
  letter-spacing: $cta-letter-spacing;
  background-color: $btn-bg;
  cursor: pointer;
  line-height: 1;
  padding: 0.71em 1.5em;
  position: relative;
  text-align: center;
  display: inline-block;

  &:hover {
    color: $btn-color-hover;
    background-color: $btn-bg-hover;
    cursor: pointer;
    text-decoration: none;
  }

  span {
    vertical-align: -3px;
  }
}

.btn-small {
  font-size: 0.85em;
}

.btn-large {
  font-size: 1.3em;
}

[class^="icon-"], [class*=" icon-"] {
  .btn & {
    vertical-align: -1px;
  }

  .btn-small & {
    vertical-align: -2px;
  }

  .btn-large & {
    vertical-align: -4px;
  }
}