.fli {
  position: relative;
  height: 56px;
  border: none !important;
  background: transparent !important;
  padding: 4px 4px 0 4px;
  transition: all 0.3s !important;
  background: #fff;
  overflow: hidden;

  &.is-disabled,
  &.is-disabled.is-completed {
    background: #F5F5F5;
    border-color: #E0E0E0;
    box-shadow: none;

    * {
      color: #9E9E9E;
    }
  }

  &.is-disabled:hover,
  &.is-disabled *:hover {
    cursor: not-allowed;
  }

  &__input {
    font-size: 14px !important;
    position: relative;
    background: transparent;
    width: 100%;
    border: 1px solid #E0E0E0 !important;
    border-color: #E0E0E0 !important;
    outline: none !important;
    padding: 10px 0 3px;
    box-shadow: none !important;

    .error & {
      color: #B71C1C;
    }

    &.is-active {
       border-color: darken(#E0E0E0, 20%) !important;
       box-shadow: 0 4px 5px rgba(#000, 0.2) !important;
     }

  }

  &__label {
    display: block;
    height: 18px;
    transform: translateY(24px) !important;
    color: #757575;
    transition: all $transition-speed !important;
    white-space: nowrap !important;
    padding-left: 4px;

    .error & {
      color: #B71C1C;
    }

    .is-completed & {
      font-size: 14px !important;
      transform: translateY(0) !important;
    }
  }

  &__append,
  &__prepend {
    position: absolute;
    bottom: 1px;
    color: #757575;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;

    .is-active &,
    .is-completed & {
      visibility: visible;
      opacity: 1;
    }

    .error & {
      color: #B71C1C;
    }
  }

  &__prepend {
    left: 3px;
  }

  &__append {
    text-align: right;
    right: 3px;
  }

  &__reset {
    display: none;
    color: #757575;
    transition: 0.3s;
    bottom: 2px;

    &:hover {
      color: #1565C0 !important;
      transform: scale(1.2);
    }

    .is-active &,
    .is-compete & {

    }

    .error & {
      color: #B71C1C;
    }
  }

  &.error {
    border-color: #EF9A9A;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &--has-select {
    .fli__label {
      font-size: 13px;
      transform: translateY(0) !important;
    }

    .fli__input {
      top: 1px;
    }
  }
}
