.form-row {
  background: #fff;
}

.active-content__details {
  .form-row__label {
    width: 200px;
  }
}

.form-row--date {
  select {
    width: 80px;
  }
}

#custform{
       display:none;
    }

select {
  &.month {
    width: 100px;
  }

  &.day {
    width: 50px;
  }

  &.year {
    width: 70px;
  }
}

input + button.addon {
  margin-left: 0;
}

button i {
  margin-top: 2px;
}

.form-row--search {
  border-bottom: none;
  margin-top: 10px;
}

// Forms.scss
// Base styles for various input types, form layouts, and states
// -------------------------------------------------------------

@import "forms/base"; // General - styling the HTML elements
@import "forms/checkbox_radio"; // Style checkboxes and radios only
@import "forms/feedback"; // Focus, disabled and error states
@import "forms/actions"; // Form actions: submit/cancel
@import "forms/pend"; // Prepend and append inputs
@import "forms/date_picker"; // Date picker
@import "forms/structure"; // Rows, sections, fieldsets
@import "forms/bare"; // Bare/plain forms, rows have no bg color
@import "forms/stacked"; // Vertical/stacked forms (default is inline)
@import "forms/large";
@import "forms/grid"; // Form specific grid
